@{
    var ldm = ViewBag.loaidanhmuc as IQueryable<webbanvlxd.Models.LoaiDanhMuc>;
    var dm = ViewBag.danhmuc as IQueryable<webbanvlxd.Models.DanhMuc>;
}

<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img src="~/aceco.ico" width="45" />
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Trang chủ</a></li>
                <li class="dropdown">
                    <a class="nav-link px-2 link-dark" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                        Danh mục
                    </a>
                    <ul class="dropdown-menu">
                        <li class="dropend">
                            @foreach(var item in ldm){
                                <a class="dropdown-item" href="#">@item.Ten &raquo; </a>
                                <ul class="dropdown-menu dropdown-submenu">
                                    @foreach(var item1 in dm){
                                        if (item1.LoaiDanhMucID == item.LoaiDanhMucID)
                                        {
                                            <li>
                                                <a class="dropdown-item" asp-controller="Home" asp-action="Category" asp-route-id="@item1.DanhMucID">@item1.Ten</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            }
                        </li>
                    </ul>
                </li>
                <li><a href="#" class="nav-link px-2 link-dark">Về chúng tôi</a></li>
                <li><a href="#" class="nav-link px-2 link-dark">Liên hệ</a></li>
            </ul>

            <form class="col-12 col-lg-3 mb-3 mb-lg-0 me-lg-4" role="search" asp-controller="Home" asp-action="Search">
                <input type="search" class="form-control" name="search" placeholder="Nhập sản phẩm bạn muốn tìm" aria-label="Search">
            </form>

            <div class="text-end">
                <a role="button" asp-controller="Home" asp-action="ViewCart" class="position-relative text-secondary">
                    <i class="fa-solid fa-cart-shopping fs-5"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 9px;">
                        0
                    </span>
                </a>
            </div>
        </div>
    </div>
</header>