<div class="bg-light py-5">
    <div class="container">
        <div class="p-3 bg-white">
            <div class="row my-1">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="border shadow-lg rounded">
                        <div class="fw-bold fs-3 text-center pt-3">
                            THÔNG BÁO
                        </div>
                        <div class="p-5">
                            <div class="text-center">
                                <div class="mb-3">
                                    <span class="fs-1">
                                        <i class="fa-solid fa-face-smile"></i>
                                    </span>
                                </div>
                                <span class="fs-2 fw-bold text-uppercase">Bạn đã đặt hàng thành công, vui lòng quay lại trang chủ</span>
                                <div class="my-3">
                                    <a class="btn btn-outline-secondary fs-5 px-3 py-2" href="/">Về trang chủ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
        </div>
    </div>
</div>