@model webbanvlxd.Models.SanPham

@{
    ViewData["Title"] = "Edit";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Sản phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cập nhật sản phẩm @Model.TenSanPham</li>
    </ol>
</nav>

<h1>Cập nhật sản phẩm @Model.TenSanPham</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SanPhamID" />
            <div class="form-group">
                <label asp-for="DanhMucID" class="control-label"></label>
                <select asp-for="DanhMucID" class="form-control" asp-items="ViewBag.DanhMucID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ThuongHieuID" class="control-label"></label>
                <select asp-for="ThuongHieuID" class="form-control" asp-items="ViewBag.ThuongHieuID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TenSanPham" class="control-label">Tên sản phẩm</label>
                <input asp-for="TenSanPham" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="HinhAnh" class="control-label">Hình ảnh</label>
                <input name="file" type="file" asp-for="HinhAnh" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DonGia" class="control-label">Đơn giá</label>
                <input asp-for="DonGia" id="DonGia" class="form-control" oninput="tinhSale();" />
            </div>
            <div class="form-group">
                <label asp-for="Sale" class="control-label">Sale</label>
                <input asp-for="Sale" id="GiamGia" class="form-control" oninput="tinhSale();" />
            </div>
            <div class="form-group">
                <label class="control-label">Thành tiền</label>
                <input asp-for="ThanhTien" id="ThanhTien" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label class="control-label">Số lượng</label>
                <input asp-for="SoLuong" disabled class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<script>
    function tinhSale() {
        var donGia = document.getElementById("DonGia").value;
        var giamGia = document.getElementById("GiamGia").value;
        document.getElementById("ThanhTien").value = donGia - (donGia * (giamGia / 100));
    }
</script>