<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - webbanvlxd</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webbanvlxd.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" role="button" asp-area="admin" asp-controller="Home" asp-action="Index">webbanvlxd</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="DatHangs" role="button" asp-action="Index"><i class="fa-solid fa-money-bill"></i> Đơn đặt hàng</a>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-bars"></i> Quản lý danh mục
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="LoaiDanhMucs" asp-action="Index">Loại danh mục</a></li>
                                <li><a class="dropdown-item" asp-controller="DanhMucs" asp-action="Index">Danh mục</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-store"></i> Quản lý Sản phẩm
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="ThuongHieus" asp-action="Index">Thương hiệu</a></li>
                                <li><a class="dropdown-item" asp-controller="SanPhams" asp-action="Index">Sản phẩm</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link text-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-wrench"></i> Quản lý Hệ thống
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Banners" asp-action="Index">Danh sách Banner</a></li>
                                <li><a class="dropdown-item" asp-controller="QuyenHans" asp-action="Index">Quyền hạn</a></li>
                                <li><a class="dropdown-item" asp-controller="TaiKhoans" asp-action="Index">Tài khoản</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" role="button" asp-controller="BaoCaos" asp-action="Index"><i class="fa-solid fa-chart-simple"></i> Báo cáo</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - webbanvlxd - DPM195113 - Lê Vĩnh Nghi
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/datatable.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/819401a432.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
