@model webbanvlxd.Models.ThuongHieu

@{
    ViewData["Title"] = "Edit";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Thương hiệu</a></li>
        <li class="breadcrumb-item active" aria-current="page">Cập nhật thương hiệu @Model.TenThuongHieu</li>
    </ol>
</nav>

<h1 class="mt-2">Cập nhật thương hiệu @Model.TenThuongHieu</h1>

<div class="row mt-3">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ThuongHieuID" />
            <div class="form-group">
                <label asp-for="TenThuongHieu" class="control-label"></label>
                <input asp-for="TenThuongHieu" class="form-control" />
                <span asp-validation-for="TenThuongHieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
