@model webbanvlxd.Models.LoaiDanhMuc

@{
    ViewData["Title"] = "Details";
    var dm = ViewBag.dm as IQueryable<webbanvlxd.Models.DanhMuc>;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-action="Index">Loại danh mục</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Ten</li>
    </ol>
</nav>

<h1>Chi tiết loại danh mục @Model.Ten</h1>

<div class="my-3">
    <a class="btn btn-outline-primary" asp-controller="LoaiDanhMucs" asp-action="CreateCategory" asp-route-id="@Model.LoaiDanhMucID">
        <i class="fa-solid fa-plus"></i> Thêm danh mục
    </a>
</div>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>Danh mục</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in dm)
        {
            if(item.LoaiDanhMucID == Model.LoaiDanhMucID)
            {
                <tr>
                    <td>
                        @item.Ten
                    </td>
                    <td>
                        <form>

                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

